<!DOCTYPE html>
<html>
  <head>
    <title>Exercise Reps</title>
  </head>
  <style>
    table, th, td {
     border: 1px solid black;
    }
  </style>
  <body>
    <h1>Exercise Reps</h1>
    <table>
      <thead>
        <tr>
          <th>Exercise Type</th>
          <th>Left reps</th>
          <th>Right reps</th>
          <th>Left Half Rep</th>
          <th>Right Half Rep</th>
          <th>Left Loose Elbow</th>
          <th>Right Loose Elbow</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        {% for exercise in exercises %}
        <tr>
          <td>{{ exercise['exercise_type'] }}</td>
          <td>{{ exercise['Left_reps'] }}</td>
          <td>{{ exercise['Right_reps'] }}</td>
          <td>{{ exercise['Left_Half_Rep'] }}</td>
          <td>{{ exercise['Right_Half_Rep'] }}</td>
          <td>{{ exercise['Left_Loose_Elbow'] }}</td>
          <td>{{ exercise['Right_Loose_Elbow'] }}</td>
          <td>{{ exercise['date'] }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
