<nav id="navbar">
    <div id="logo">
        <img src="/static/gymlogo.jpg" alt="virtualGym.com">
    </div>
    <ul>
        <li class="item"><a href="{{url_for('index2')}}#home">Home</a></li>
        <!-- <li class="item"><a href="#client-section">Quotes</a></li> -->
        {% if session.logged_in  %}
        <li class="item"><a href="{{ url_for('Services') }}">Services</a></li>
        <li class="item"><a href="{{ url_for('profile') }}">Profile</a></li>
        {% endif %}

        <li class="item"><a href="{{url_for('index2')}}#contact">Contact us</a></li>
        
    </ul>

    <header>
        {% if session.logged_in %}
        <div class='sign-in-up'>
            <button>Hello, {{session.username}}</button>
            <button type='button' onclick="window.location.href='/logout'">Logout</button>
        </div>
        {% else %}
        <div class='sign-in-up'>
            <button type='button' onclick="popup('login-popup')">LOGIN</button>
            <button type='button' onclick="popup('register-popup')">REGISTER</button>
        </div>
        {% endif %}
    </header>
</nav>