{% extends "base.html" %}
{% block content %}
<div class="profile py-4">
  <div class="container">
    <div class="card shadow-sm">
      <div class="card-header bg-transparent border-0">
        <h3 class="mb-0"><i class="far fa-clone pr-1"></i>General Information</h3>
      </div>
      <div class="card-body pt-0">
        <table class="table table-bordered">
          <!-- <tr>
                  <th width="30%">Roll</th>
                  <td width="2%">:</td>
                  <td>125</td>
                </tr> -->
          <tr>
            <th width="30%">Name </th>
            <td width="2%">:</td>
            <td>{{user.full_name.0|upper}}</td>
          </tr>
          <tr>
            <th width="30%">Gender</th>
            <td width="2%">:</td>
            <td>{{user.gender.0|upper}}</td>
          </tr>
          <tr>
            <th width="30%">Age</th>
            <td width="2%">:</td>
            <td>{{user.age.0}}</td>
          </tr>
          <tr>
            <th width="30%">Username</th>
            <td width="2%">:</td>
            <td>{{user.username.0}}</td>
          </tr>
          <tr>
            <th width="30%">height</th>
            <td width="2%">:</td>
            <td>{{user.height.0}} cm</td>
          </tr>
          <tr>
            <th width="30%">weight</th>
            <td width="2%">:</td>
            <td>{{user.weight.0}} kg</td>
          </tr>
          <tr>
            <th width="30%">Email</th>
            <td width="2%">:</td>
            <td>{{user.email.0}}</td>
          </tr>

        </table>
      </div>
    </div>
    <div style="height: 26px"></div>


    <section id="squats">
      <div class="card shadow-sm">
        <div class="card-header bg-transparent border-0">
          <h3 class="mb-0"><i class="far fa-clone pr-1"></i>Squats Statistics</h3>
        </div>
        <div class="card-body pt-0">
          <div class="row">
            <div class="col-md-6">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Total Count</th>
                    <th scope="col">Time Taken</th>
                    <th scope="col">Date</th>
                  </tr>
                </thead>
                <tbody>

                  {% for index, row in squats_data.iterrows()  %}
                  <tr>
                    <td>{{row.rep}}</td>
                    <td>{{row.start_timestamp|time_taken(row.timestamp)}} sec</td>
                    <td>{{row.timestamp|date_conv}}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
            <div class="col-md-6">
              <canvas id="sq_chart"></canvas>
            </div>
          </div>
        </div>
      </div>
    </section>


    <section id="bicep-curl">
      <div class="card shadow-sm">
        <div class="card-header bg-transparent border-0">
          <h3 class="mb-0"><i class="far fa-clone pr-1"></i>Bicep Rep Statistics</h3>
        </div>
        <div class="card-body pt-0">
          <div class="tabel my-3">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Left Hand Reps</th>
                  <th scope="col">Right Hand Reps</th>
                  <th scope="col">Left Half Reps</th>
                  <th scope="col">Right Half Reps</th>
                  <th scope="col">Left Low Elbow</th>
                  <th scope="col">Right Low Elbow</th>
                  <th scope="col">Time Taken</th>
                  <th scope="col">Date</th>
                </tr>
              </thead>
              <tbody>

                {% for index, row in bicep_data.iterrows()  %}
                <tr>
                  <td>{{row.l_reps}}</td>
                  <td>{{row.r_reps}}</td>
                  <td>{{row.lh_reps}}</td>
                  <td>{{row.rh_reps}}</td>
                  <td>{{row.ll_elbow}}</td>
                  <td>{{row.rl_elbow}}</td>
                  <td>{{row.start_timestamp|time_taken(row.timestamp)}} sec</td>
                  <td>{{row.timestamp|date_conv}}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          <div class="graph my-3">
            <canvas id="bic_chart"></canvas>

          </div>
        </div>
      </div>

    </section>

  </div>
</div>

<script>
  let squats_data = {{squats_graph_ydata|safe}};
  let squats_data_ls = {{squats_graph_xdata|safe}};
  const ctx = document.getElementById('sq_chart');
  const ctx1 = document.getElementById('bic_chart');

    var sq_data = {
        labels: squats_data_ls,
        datasets: [{
            label: 'Time Taken To Complete Squats vs Date',
            data: squats_data,
            fill: true,
            borderColor: 'rgb(147 98 82)',
            backgroundColor: 'rgb(147, 98, 82, 0.1)',
            tension: 0.1,

        }],
    };
    var sq_config = {
        type: 'line',
        data: sq_data,
        title: {
        display: true,
    },
        options: {
            responsive: true,
            interaction: {
                intersect: false,
            },
            scales:{
                y: {
                    max: 100,
                    min: 0,
                    ticks: {
                        stepSize: 10
                    }
                },
                
                
            }
        }
    };
    var sq_graph = new Chart(ctx, sq_config);
    

    var bic_chart = new Chart(ctx1, {
            type: 'line',
            data: {
                labels: {{b_timestamp|safe}},
                datasets: [{
                    label: 'Left Hand Reps',
                    data: {{l_reps|safe}},
                    borderColor: 'red',
                    borderWidth: 1,
                    fill: false
                }, {
                    label: 'Right Hand Reps',
                    data: {{r_reps|safe}},
                    borderColor: 'blue',
                    borderWidth: 1,
                    fill: false
                }, {
                    label: 'Left Half Reps',
                    data: {{lh_reps|safe}},
                    borderColor: 'green',
                    borderWidth: 1,
                    fill: false
                },
                {
                    label: 'Right Half Reps',
                    data: {{rh_reps|safe}},
                    borderColor: 'yellow',
                    borderWidth: 1,
                    fill: false
                },
                {
                    label: 'Left Loose Elbow',
                    data: {{ll_elbow|safe}},
                    borderColor: 'orange',
                    borderWidth: 1,
                    fill: false
                },
                {
                    label: 'Right Loose Elbow',
                    data: {{rl_elbow|safe}},
                    borderColor: 'purple',
                    borderWidth: 1,
                    fill: false
                }
              
              ]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
</script>

{% endblock content %}